<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CART</title>
</head>

<body>
    <h1>Cart by ID</h1>

    <ul>

            <p>
                Name:{{cart_name}}
            <div></div>
            </p>
            <p>
                
                Products: {{cart_products}} <div></div>
              
            </p>
            
        
    </ul>





    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>