<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
  <ul>
    
    <h1>Bienvenid@ a mi Shop</h1>


     <h1>No estas registrad@?</h1>
  
     <a href="/api/views/register">registrate</a>   
  
<h1>Ya sos parte</h1>

<a href="/api/views/login">ingresa </a>
</ul>






    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
