<div>
        <h1>Logueate</h1>

        <form id="login_form">

                <label>Username</label>
                <input type="username" name="username" id="username">

                <label>Contraseña</label>
                <input type="password" name="password" id="password">

                <input type="submit" value="ingresar">
        </form>
</div>
<div>

        <button onclick="location.href='/api/views/register'">No estas registrado?</button>

</div>
<div>

        <button onclick="location.href='/api/sessions/githubSignup'">GITHUB</button>
</div>
<div>

        <button onclick="location.href='/api/sessions/auth/google'">Google</button>
</div>

<script src="/js/login.js"></script>